extends layout

block content
  h1 Welcome to S3 Client
  h2 List of 
  input(type="text" placeholder="Name" id="new-bucket")
  button(id="submit-bucket") Add Bucket
  
  table
    tr
        td
            h3 Name
        td
            h3 View
    each bucket in buckets
        tr
            td= bucket.Name
            td #[a(href='/#{bucket.Name}/') View]
